<template name="quiz">
  <div class="container" id="quiz-wrapper">
    <div id="quiz-question">
      <div id="question">
        {{question}}
      </div>
    </div>
    <div id="answer-box">
      {{#if isMultipleChoice}}
        {{#each answers}}
          {{> answer}}
        {{/each}}
        {{else}}
        <input id="answer_field" type="text"/>
        <input id="answer_button" type="button" value="Submit Answer"/>
      {{/if}}
    </div>

<!--    <div class="card" id="rationale">
      {{rationale}}
    </div>
-->
  </div>
</template>
