<template name="quiz">
  <h1>Quiz Page</h1>
  <div class="container" id="quiz-wrapper">
    <div class="card" id="quiz-questions">
      This is where the question(s) will go.
      <h5>
        Question:
        {{question}}
      </h5>
    </div>
    <div class="card">
      {{#if isMultipleChoice}}
        {{#each answers}}
          {{> answer}}
        {{/each}}
      {{else}}
        <input id="answer_field" type="text"/>
        <input id="answer_button" type="button" value="Submit Answer"/>
      {{/if}}
    </div>
  </div>
</template>
