<template name="nav">

  <div class="navbar navbar-main navbar-default navbar-fixed-top" id='navbar-top'>

    <ul class="nav navbar-nav">
      <div id="navItem">
        <li>
          <a href="{{pathFor 'landing'}}">
            <i class="zmdi zmdi-home zmdi-hc-2x" id="navHome"></i>
          </a>
        </li>
      </div>
      <div id="navItem">
        <li>
          <a href="{{pathFor 'quiz'}}">
            <i class="zmdi zmdi-help zmdi-hc-2x"></i>
          </a>
        </li>
      </div>
      <div id="navItem">
        <li>
          <a href="{{pathFor 'notes'}}">
            <i class="zmdi zmdi-file-text zmdi-hc-2x"></i>
          </a>
        </li>
      </div>
      <div id="navItem">
        <li>
          <a href="{{pathFor 'settings'}}">
            <i class="zmdi zmdi-settings zmdi-hc-2x" id="navLink"></i>
          </a>
        </li>
      </div>
    </ul>

  </div>

</template>
