<template name="settings">
 <div class = "container" id="configuration-container" >

     <div class = "card" id = "question-configration">
         <h3>Use the slider to change the question frequency: {{setQuestionAmount}}</h3>
         <input type="range" id ="questionRange" value="5">
         <br />
     </div>

     <div class="card" id = "question-type-options">
         <h3>Choose the type of questions to be asked: </h3>
         <label class = "block"><input type="radio"  name = "questionType" id = "multiple-choice" value ="multiplechoice">Multiple Choice</label>
         <label class = "block"><input type="radio"  name = "questionType" id = "short-answer" value ="shortanswer">Short Answer </label>
         <label class = "block"><input type="radio"  name = "questionType" id = "combination" value = "both">Both Multiple and Short Answer </label>
    </div>

    <div class="card" id = "question-source">
        <h3>Select the source of the questions: </h3>
        <label class = "block"><input type = "button" name= "manual" id = "manualButton" value = "Manually Enter"></label>
        <label class = "block"><input type = "button" name = "import" id = "importButton" value = "Import/Parse File"></label>
        <label class = "block"><input type = "button" name = "pagescrape" id = "pagescrapeButton" value = "Page Scrape Internet"></label>
        <p id = "warnings">*If the Import/Parse option is clicked, a file must be provided in the specified format. <br />
           **If Page Scrape Internet option is chosen a source must be selected.
         </p>
    </div>
    <div class = "card">
      <label class = "block"><input type = "button" name = "startStudyLock" id = "startStudyLockButton" value = "Start Study Lock"></label>
      <label class = "block"><input type = "button" name = "stopStudyLock" id = "stopStudyLockButton" value = "Stop Study Lock"></label>
    </div>
  </div>

</template>
