html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  width:100%;
  background-color: #aeb3ae;
}

@media only screen and (max-device-width: 480px) {
  html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    background-color: #aeb3ae;
  }
	}
