html {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.main-content-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  background-color: rgba(#959595, 0.01);
}
