html {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.main-content-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  overflow: hidden;
  background-color: rgba(#959595, 0.01);
}
.center_div {
  margin: 0 auto;
  width: 80%;
  /* value of your choice which suits your alignment */
}
#login-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: table;
  background-color: #1e8cad;
  form {
    vertical-align: middle;
    display: table-cell;
    #login-form {
      position: relative;
      height: 40%;
      background-color: white;
      border-width: medium;
      border-style: double;
      .form-group{
        padding-top: 10px;
      }
    }
  }
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {



}
