@media only screen and (max-device-width: 560px) {
  #notes-container {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
  }
  .notes-section {
    position: relative;
    margin-top: 15%;
    height: 45%;
    width: 100%;
    -moz-box-shadow: 0 0 5px #18191a;
    -webkit-box-shadow: 0 0 5px #18191a;
    box-shadow: 0 0 5px #18191a;
    background-color: white;
    margin-bottom: 2%;
  }
  #notes-container #importBtn {
    position: relative;
    float: left;
    width: 100%;
    height: 5%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3) font-weight: bold;
    line-height: 100%;
    color: white;
    background-color: #2836f2;
    -moz-box-shadow: 0 0 5px #18191a;
    -webkit-box-shadow: 0 0 5px #18191a;
    box-shadow: 0 0 5px #18191a;
    vertical-align: middle;
  }
  #importBtn div {
    position: relative;
    text-align: center;
    padding-top: 2%;
    letter-spacing: 3px;
  }
  .fileUpload {
    position: relative;
    overflow: hidden;
    letter-spacing: 3px;
  }
  .fileUpload input.upload {
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
