#quiz-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 2%;
  text-align: center;
}
#answer {
  color: #000;
  z-index: 1;
}
#quiz-question {
  height: 15%;
  position: relative;
  margin: 0 0 10px 0;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  display: inline-block;
  #qText{
    position: relative;
    margin-top: 5%;
    text-align: center;
  }
}
#question {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-weight: bolder;
  text-align: center;
  color: white;
  font-size: 10%;
}
#answer-box {
  position: relative;
  margin-bottom: 5%;
  height: 30%;
}
#answers {
  position: relative;
  height: 100%;
  width: 100%;
}
#answer {
  position: relative;
  margin-top: 3%;
  text-align: left;
  padding-left: 4%;
  padding-top: 4%;
  padding-bottom: 4%;
}
.correctAnswer{
  width: 100%;
}
.btn-answer {
  position: relative;
  height: 10%;
  text-align: center;
}
#rationale {
  height: auto;
  text-align: center;
  vertical-align: middle;
}
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('http://i.stack.imgur.com/FhHRx.gif')
  50% 50%
  no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
  display: block;
}