@media only screen and (max-device-width: 560px) {
  #quiz-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding-top: 2%;
  }
  #answer {
    color: #000;
    z-index: 1;
  }
  #quiz-question {
    height: 15%;
    position: relative;
  }
  #question{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    text-align: center;
    color: white;
    font-size: 10%;
  }
  #answer-box {
    position: relative;
    margin-bottom: 5%;
    height: 30%;
  }
  #answers {
    position: relative;
    height: 100%;
    width: 100%;
  }
  #answer{
    position: relative;
    margin-top: 3%;
    text-align: left;
    padding-left: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  #answer-btn{
    position: relative;
    height: 10%;
    text-align: center;
  }

  #rationale{
    height: 80%;
    margin-top: 15%;
    text-align: center;
    color: white;
    vertical-align: middle;
  }
}
