#question-configuration {
  text-align: left;
}

#question-source #warnings{
  text-align: left;
  font-weight: bold;
  padding: 2px;
}
#stopStudyLockButton {
  padding: 2px;
  display: block;
  margin: 2px;
}

#startStudyLockButton {
  padding: 2px;
  display: block;
  margin: 2px;
  height: 60%;
}
