#settings-wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 0 0;
  position: absolute;
  overflow: scroll;
  div{
    padding-bottom: 10px;
  }
}
#settingsHeader {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
#totals {
  span {
    margin: 0 0 0 5px;
  }
}
